<%- include('../Partials/head.html')  %> 

    <div class="bg-gray-700 text-mono text-white p-10 text-center">
        My Name Is <%= user.name %> 
        <br>
        Address:<%= user.address %> 
    </div>
<%- include('../Partials/bottom.html')  %> 